on: [push, pull_request]

name: Go
jobs:

  test:
    strategy:
      matrix:
        go-version: [1.13.x, 1.14.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Test
      run: go test -count=1 ./...
    - name: Test with -short -race
      run: go test -short -race -count=1 ./...

    - name: Test with GOARCH=386
      run: GOARCH=386 go test -count=1 ./...
      if: matrix.platform == 'ubuntu-latest'
    - name: gofmt check
      run: diff <(echo -n) <(gofmt -d .)
      if: matrix.platform == 'ubuntu-latest'

  test-linux-alpine:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Test as root, without cgo, and with busybox
      run: docker run -v="$PWD:/pwd" -w=/pwd -e=CGO_ENABLED=0 golang:1.14.3-alpine go test ./...

  fuzz:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.14.x
    - name: Checkout code
      uses: actions/checkout@v2

    - name: fuzz regression tests
      run: export PATH="$PATH:$(go env GOPATH)/bin"; cd _fuzz/it && ./fuzz-ci local-regression
    - name: fuzz continuous job
      run: export PATH="$PATH:$(go env GOPATH)/bin"; cd _fuzz/it && ./fuzz-ci fuzzing
      if: >
        github.event_name == 'push' &&
        github.ref == 'refs/heads/master' &&
        github.repository == 'mvdan/sh'
      env:
        FUZZIT_API_KEY: ${{ secrets.FUZZIT_API_KEY }}

  docker:
    name: Build and deploy Docker images
    # Only deploy if previous stages pass.
    needs: [test, test-linux-alpine, fuzz]
    runs-on: ubuntu-latest
    if: >
      github.event_name == 'push' &&
        (github.ref == 'refs/heads/master' ||
         startsWith(github.ref, 'refs/tags/')) &&
      github.repository == 'mvdan/sh'
    env:
      # Export environment variables for all stages.
      DOCKER_CLI_EXPERIMENTAL: enabled # for 'docker buildx'
      DOCKER_USER: mvdan
      DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      DOCKER_REPO: shfmt
      # We use all platforms for which FROM images in our Dockerfile are
      # available.
      DOCKER_PLATFORMS: >
        linux/386
        linux/amd64
        linux/arm/v7
        linux/arm64/v8
        linux/ppc64le

      # linux/s390x TODO: reenable when we figure out its weird errors when
      # fetching dependencies, including:
      #
      # zip: checksum error
      # Get "https://proxy.golang.org/...": local error: tls: bad record MAC
      # Get "https://proxy.golang.org/...": local error: tls: unexpected message
      # Get "https://proxy.golang.org/...": x509: certificate signed by unknown authority
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up image tag
      run: |
        set -vx
        # Export environment variable for later stages.
        if echo "$GITHUB_REF" | grep -q '^refs/heads/'; then
          # Pushes to (master) branch - deploy 'latest'.
          echo "::set-env name=TAG::latest"
        elif echo "$GITHUB_REF" | grep -q '^refs/tags/'; then
          # Pushes tag - deploy tag name.
          echo "::set-env name=TAG::${GITHUB_REF/refs\/tags\//}"
        fi
        echo "::set-env name=DOCKER_BASE::${DOCKER_USER}/${DOCKER_REPO}"
    - name: Install Docker buildx
      run: |
        set -vx
        # Install up-to-date version of docker, with buildx support.
        docker_apt_repo='https://download.docker.com/linux/ubuntu'
        curl -fsSL "${docker_apt_repo}/gpg" | sudo apt-key add -
        os="$(lsb_release -cs)"
        sudo add-apt-repository "deb [arch=amd64] $docker_apt_repo $os stable"
        sudo apt-get update
        sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce

        # Enable docker daemon experimental support (for 'pull --platform').
        config='/etc/docker/daemon.json'
        if [[ -e "$config" ]]; then
          sudo sed -i -e 's/{/{ "experimental": true, /' "$config"
        else
          echo '{ "experimental": true }' | sudo tee "$config"
        fi
        sudo systemctl restart docker

        # Install QEMU multi-architecture support for docker buildx.
        docker run --rm --privileged multiarch/qemu-user-static --reset -p yes

        # Instantiate docker buildx builder with multi-architecture support.
        docker buildx create --name mybuilder
        docker buildx use mybuilder
        # Start up buildx and verify that all is OK.
        docker buildx inspect --bootstrap
    - name: Build multi-architecture Docker images with buildx
      run: |
        set -vx
        echo "$DOCKER_PASSWORD" \
        | docker login -u="$DOCKER_USER" --password-stdin

        function buildx() {
          docker buildx build \
            --platform ${DOCKER_PLATFORMS// /,} \
            --push \
            -f cmd/shfmt/Dockerfile \
            "$@" \
            .
        }

        buildx -t "$DOCKER_BASE:$TAG"
        buildx -t "$DOCKER_BASE:$TAG-alpine" --target alpine
    - name: Test multi-architecture Docker images
      run: |
        printf '%s\n' "#!/bin/sh" "echo 'hello world'" >myscript

        for platform in $DOCKER_PLATFORMS; do
          for ext in '' '-alpine'; do
            image="${DOCKER_BASE}:${TAG}${ext}"
            msg="Testing docker image $image on platform $platform"
            line="${msg//?/=}"
            printf "\n${line}\n${msg}\n${line}\n"
            docker pull -q --platform "$platform" "$image"
            if [ -n "$ext" ]; then
              echo -n "Image architecture: "
              docker run --rm --entrypoint /bin/sh "$image" -c 'uname -m'
            fi
            version=$(docker run --rm "$image" --version)
            echo "shfmt version: $version"
            if [ "$TAG" != 'latest' -a "$TAG" != "$version" ]; then
              echo "Version mismatch: shfmt $version tagged as $TAG"
              exit 1
            fi
            docker run --rm -v "$PWD:/mnt" -w '/mnt' "$image" -d myscript
          done
        done
    - name: Install Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 13.x
    - name: Update DockerHub description
      run: |
        set -vx
        npm install docker-hub-api@0.8.0
        node -e '
          function error(reason) {
            console.log("Error: " + reason.message);
            process.exit(1);
          }
          const fs = require("fs");
          let readme = fs.readFileSync("README.md", "utf8");
          let dockerHubAPI = require("docker-hub-api");
          dockerHubAPI.login(
            process.env.DOCKER_USER,
            process.env.DOCKER_PASSWORD)
          .then(function () {
            let url = "https://github.com/" + process.env.GITHUB_REPOSITORY;
            let repo = process.env.DOCKER_REPO;
            dockerHubAPI.setRepositoryDescription(
              process.env.DOCKER_USER,
              repo,
              {short: "Official " + repo + " images from " + url,
               full: readme})
            .catch(reason => error(reason));
          })
          .catch(reason => error(reason));
        '
